@import "/src/style/variable.scss";

.table {
  margin-top: 15px;

  &__header{
    background-color: $todoListTableHead;
  }
}

.todo-list-table-row {
  width: 100%;
  font-size: 22px;

  &__task-title {
    text-align: center;
    width: 92%;
  }

  &__task-btn {
    width: 8%;
  
  }
}
